{
  "$schema": "https://opencode.ai/theme.json",
  "defs": {
    "rosewater": "@@HEX:rosewater@@",
    "flamingo": "@@HEX:flamingo@@",
    "pink": "@@HEX:pink@@",
    "mauve": "@@HEX:mauve@@",
    "red": "@@HEX:red@@",
    "maroon": "@@HEX:maroon@@",
    "peach": "@@HEX:peach@@",
    "yellow": "@@HEX:yellow@@",
    "green": "@@HEX:green@@",
    "teal": "@@HEX:teal@@",
    "sky": "@@HEX:sky@@",
    "sapphire": "@@HEX:sapphire@@",
    "blue": "@@HEX:blue@@",
    "lavender": "@@HEX:lavender@@",
    "text": "@@HEX:text@@",
    "subtext1": "@@HEX:subtext1@@",
    "subtext0": "@@HEX:subtext0@@",
    "overlay2": "@@HEX:overlay2@@",
    "overlay1": "@@HEX:overlay1@@",
    "overlay0": "@@HEX:overlay0@@",
    "surface2": "@@HEX:surface2@@",
    "surface1": "@@HEX:surface1@@",
    "surface0": "@@HEX:surface0@@",
    "base": "@@HEX:base@@",
    "mantle": "@@HEX:mantle@@",
    "crust": "@@HEX:crust@@"
  },
  "theme": {
    "primary": "blue",
    "secondary": "mauve",
    "accent": "pink",
    "error": "red",
    "warning": "yellow",
    "success": "green",
    "info": "teal",
    "text": "text",
    "textMuted": "overlay2",
    "background": "base",
    "backgroundPanel": "mantle",
    "backgroundElement": "crust",
    "border": "surface0",
    "borderActive": "surface1",
    "borderSubtle": "surface2",
    "diffAdded": "green",
    "diffRemoved": "red",
    "diffContext": "overlay2",
    "diffHunkHeader": "peach",
    "diffHighlightAdded": "green",
    "diffHighlightRemoved": "red",
    "diffAddedBg": "surface0",
    "diffRemovedBg": "surface0",
    "diffContextBg": "mantle",
    "diffLineNumber": "overlay2",
    "diffAddedLineNumberBg": "surface1",
    "diffRemovedLineNumberBg": "surface1",
    "markdownText": "text",
    "markdownHeading": "mauve",
    "markdownLink": "blue",
    "markdownLinkText": "sky",
    "markdownCode": "green",
    "markdownBlockQuote": "yellow",
    "markdownEmph": "yellow",
    "markdownStrong": "peach",
    "markdownHorizontalRule": "subtext0",
    "markdownListItem": "blue",
    "markdownListEnumeration": "sky",
    "markdownImage": "blue",
    "markdownImageText": "sky",
    "markdownCodeBlock": "text",
    "syntaxComment": "overlay2",
    "syntaxKeyword": "mauve",
    "syntaxFunction": "blue",
    "syntaxVariable": "red",
    "syntaxString": "green",
    "syntaxNumber": "peach",
    "syntaxType": "yellow",
    "syntaxOperator": "sky",
    "syntaxPunctuation": "text"
  }
}
